<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 ">Movies Center</h1>
    <p class="lead "> <%= t "idioma" %></p>
    <p class="lead "><%= t "intro" %></p>
    <p class="lead "><%= l Date.today %></p>
  </div>
</div>
