<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 ">Movies Center</h1>
    
    <!--<p class="lead "><%= t "intro" %></p>-->
    <%= image_tag("https://static1.squarespace.com/static/55f32473e4b029b54a7228d2/t/5769abd2579fb38f076cae12/1466543107701/60+Best+Girls%27+Night+Movies?format=750w", size: "599x299") %>
    <p class="lead "><%= l Date.today %></p>
    <p class="lead "> <%= t "idioma" %></p>
  </div>
</div>
